@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash|Roboto+Slab:300,400,700|Roboto+Condensed:400,700');

@font-face {
  font-family: 'adm';
  src: url("/fonts/adm.ttf?pfyq4o") format("truetype"), url("/fonts/adm.woff?pfyq4o") format("woff"), url("/fonts/adm.svg?pfyq4o#coc") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'adm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adm:before {
  content: "\e908";
}

.icon-podcast:before {
  content: "\e600";
}

.icon-tag:before {
  content: "\e605";
}

.icon-calendar:before {
  content: "\e603";
}

.icon-menu:before {
  content: "\e60b";
}

.icon-googleplus:before {
  content: "\e607";
}

.icon-facebook:before {
  content: "\e608";
}

.icon-twitter:before {
  content: "\e609";
}

.icon-feed:before {
  content: "\e60d";
}

.icon-tumblr:before {
  content: "\e60e";
}

.icon-soundcloud:before {
  content: "\e610";
}

.icon-download:before {
  content: "\e900";
}

.icon-star:before {
  content: "\e901";
}

.icon-star2:before {
  content: "\e902";
}

.icon-star3:before {
  content: "\e903";
}

.icon-play:before {
  content: "\e904";
}

.icon-pause:before {
  content: "\e905";
}

.icon-volume-high:before {
  content: "\e906";
}

.icon-volume-mute:before {
  content: "\e907";
}

$red: firebrick;

* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; }

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.1rem;
}

article.promo {
    border: 1px solid silver;
    margin: 1rem;
}

article {
  margin: 0 auto;
  padding: 0 1rem;
  padding-bottom: 1rem;

  a {
    color: $red;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    color: $red;
    font-family: 'Roboto Condensed';
    font-size: 2rem;
    line-height: 2.6rem;
  }

  h1, h2 {
    font-family: 'Roboto Condensed';
    margin: 1rem 0;
  }
}

header {
  background-color: black;
  text-align: center;

  h1 {
    display: inline-block;
    font-family: 'Ravi Prakash', cursive;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
    padding-left: 2.4rem;
    position: relative;
    text-align: center;
    text-shadow:
        -1px -1px 0 $red,
        1px -1px 0 $red,
        -1px 1px 0 $red,
        1px 1px 0 $red;

    a {
      color: white;
      text-decoration: none;
    }

  }
}

footer {
  background-color: $red;
  color: white;
  padding: 0.4rem 1rem;
  text-align: center;

  a {
    color: white;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

nav {
  background-color: $red;
  margin: 0;
  margin-top: -1.4rem;
  padding: 1rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;

    a {
      color: white;
      display: inherit;
      font-family: 'Roboto Condensed', Sans-Serif;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.6rem 0.6rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section.main article {
  max-width: 62rem;
}

article img {
  border: 1px solid silver;
  width: 100%;

  &:first-of-type {
    margin-top: 1rem;
  }
}

#spoilers {
  display: none;
}

.article-meta {
  color: silver;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.btn {
  background-color: $red;
  color: white;
  cursor: pointer;
  padding: 0.4rem 1rem;

  &:hover {
    box-shadow: 1px 1px 3px black;
  }
}

.icon-adm {
  display: inline-block;
  font-size: 2rem;
  left: 0;
  padding-top: 0.5rem;
  position: absolute;
  top: -3px;
}

.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;

    li {
        border: 1px solid silver;
        display: inline-block;
        margin: 0 0.2rem;

        a, &.disabled, &.active {
            display: inline-block;
            padding: 0.6rem 1rem;
        }

        a {
            color: $red;
            text-decoration: none;
        }

        a:hover {
            background-color: silver;
        }
    }
}

.tag {
    background-color: $red;
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    text-transform: lowercase;

    &:hover {
        background-color: lighten($red, 20%);
        text-decoration: none;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media only screen and (min-width: 600px) {
  header h1 {
    font-size: 4rem;
    line-height: 6rem;
    padding-left: 4.8rem;
    text-shadow: 2px 2px 0 $red,
      2px -2px 0 $red,
      -2px 2px 0 $red,
      -2px -2px 0 $red;
  }

  nav {
    margin-top: -2.8rem;

    ul {
      padding-top: 2rem;
    }

    li a {
      font-size: 1.4rem;
      padding: 0.4rem 0.8rem;
    }
  }

  .icon-adm {
    font-size: 4rem;
    padding-top: 1rem;
    top: -6px;
  }
}


@media only screen and (min-width: 800px) {
  .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 62rem;
  }

  article.promo {
    width: calc(50% - 2rem);

    h1 {
        font-size: 2rem;
        margin: 0;
    }
  }

  body {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  article h1 {
    font-size: 4rem;
    line-height: 4.6rem;
    margin: 2rem 0;
  }

  article h2 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  nav {

    li a {
      font-size: 1.8rem;
      padding: 0.4rem 1.2rem;
    }
  }
}


@media only screen and (min-width: 1000px) {
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    padding-left: 7rem;
    text-shadow: 3px 3px 0 $red,
      3px -3px 0 $red,
      -3px 3px 0 $red,
      -3px -3px 0 $red;
  }

  nav {
    margin-top: -3.6rem;

    ul {
      padding-top: 3rem;
    }

    li a {
      font-size: 2.4rem;
      padding: 0.4rem 0.8rem;
    }
  }

  .icon-adm {
    font-size: 6rem;
    padding-top: 1rem;
    top: -9px;
  }
}
